<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="Nlog.Config.ConfigSectionHandler, Nlog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DDHHEntities" connectionString="metadata=res://*/EFModel.DDHHModel.csdl|res://*/EFModel.DDHHModel.ssdl|res://*/EFModel.DDHHModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=esparta;initial catalog=DDHH;persist security info=True;user id=sa;password=P@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog>
    <targets>
      <target name="file" type="File" fileName="error.txt"/>
      <rules>
        <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
    </targets>
  </nlog>
  <appSettings>
    <add key="Remitente" value="contacto@pevaar.com"/>
    <add key="Asunto" value="Servicio de envio de correos"/>
    <add key="SeparadorDeCorreos" value=","/>
    <add key="MinutosReiniciarServicio" value="5"/>
    <add key="MinutosRevisarPendientes" value="5"/>
    
    <!--Informacion que se muestra en el administrador de servicios-->
    <add key="ServiceName" value="MinInNotificacionesCorreo"/>
    <add key="DisplayName" value="Servicio MinInterior Notificaciones Correo V1.0"/>
    <add key="Description" value="Este servicio lee las notificaciones pendientes y las envía a los destinatarios"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="contacto@pevaar.com">
        <network host="mail.pevaar.comxx" password="smtp12345" userName="smtp@pevaar.com"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>